<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blackjack</title>
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1>Blackjack</h1>

    <!-- Contenedor para el login/registro -->
    <div id="auth-section">
        <h2 id="auth-section-title">Iniciar Sesión</h2>

        <form id="loginForm" style="display: block;">
            <input type="text" id="loginUsername" placeholder="Usuario" required>
            <input type="password" id="loginPassword" placeholder="Contraseña" required>
            <div class="buttons">
                <button type="submit" title="Iniciar Sesión">Iniciar Sesión</button>
                <button id="showRegister" type="button" title="Cambiar al formulario de Registro">¿Registrarse?</button>
            </div>
            <button id="showRestablecer" type="button" title="¿Has olvidado tu contraseña?">¿Has olvidado tu
                contraseña?</button>
        </form>

        <form id="registerForm" style="display: none;">
            <input type="text" id="registerUsername" placeholder="Usuario" required>
            <input type="password" id="registerPassword" placeholder="Contraseña" required>
            <input type="email" id="registerEmail" placeholder="Correo electrónico" required>
            <div class="buttons">
                <button type="submit" title="Registrarse">Registrarse</button>
                <button id="showLogin" type="button" title="Cambiar al formulario de Iniciar Sesión">¿Iniciar
                    Sesión?</button>
            </div>
        </form>

        <form id="restablecerForm" style="display: none;">
            <input type="email" id="restablecerEmail" name="restablecerEmail" placeholder="Correo electrónico" required>
            <div class="buttons">
                <button type="submit" title="Solicitar restablecimiento de contraseña">Restablecer</button>
                <button id="showLogin2" type="button" title="Cambiar al formulario de Iniciar Sesión">¿Iniciar
                    Sesión?</button>
            </div>
            <p id="restablecerMessage"></p>
        </form>
    </div>

    <!-- Contenedor del juego, inicialmente oculto -->
    <div id="game-section" style="display: none;">
        <div class="apuestas">
            <div class="buttons">
                <button class="button" id="apuesta-5">5 🪙</button>
                <button class="button" id="apuesta-25">25 🪙</button>
                <button class="button" id="apuesta-50">50 🪙</button>
            </div>
        </div>
        <div class="juego">
            <div class="jugador">
                <h2>Jugador</h2>
                <p>Mano: <span id="mano-jugador"></span></p>
                <p>Valor: <span id="valor-jugador"></span></p>
                <button id="pedir-carta">Pedir carta</button>
                <button id="plantarse">Plantarse</button>
            </div>
            <div class="ia">
                <h2>Dealer</h2>
                <p>Mano: <span id="mano-ia"></span></p>
                <p>Valor: <span id="valor-ia"></span></p>
            </div>
            <div class="resultado">
                <p id="resultado"></p>
            </div>
            <select id="skin" hidden>
                <!-- Se auto rellena -->
            </select>
        </div>
        <div id="premios-panel"></div>
        <div id="ranking-panel"></div>
        <button id="logout-button" title="Cerrar Sesión">Cerrar Sesión</button>
        <div id="coins-container" class="coins-container">
            <span id="coins-amount" class="coins-amount"></span>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>

</html>